In [4]:
from flask import Flask, jsonify, render_template
import os
from fyers_apiv3 import fyersModel
# from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC
# from selenium.common.exceptions import ElementNotInteractableException, TimeoutException
# from pyotp import TOTP
# from dotenv import load_dotenv
# from flask_sqlalchemy import SQLAlchemy
import datetime
# from selenium.webdriver.firefox.options import Options as FirefoxOptions
import pandas as pd
from datetime import datetime, timedelta
# import yfinance as yf

## Loading .env Variables
# load_dotenv()

# Constants
INTRADAY = "INTRADAY"
DAY = "DAY"
SUCCESS_CODE = "success"
ERROR_CODE = "error"
INVALID_PASSPHRASE_MSG = "Invalid passphrase provided."
redirect_uri = "https://www.google.com/"
# FYERS_CLIENT_ID = os.environ.get('FYERS_CLIENT_ID')
# FYERS_SECRET_KEY = os.environ.get('FYERS_SECRET_KEY')
# WEBHOOK_PASSPHRASE = os.environ.get('WEBHOOK_PASSPHRASE')
# FYERS_USERNAME = os.environ.get('FYERS_USERNAME')
# TOTP_KEY = os.environ.get('TOTP_KEY')
# PIN1 = os.environ.get('PIN1')
# PIN2 = os.environ.get('PIN2')
# PIN3 = os.environ.get('PIN3')
# PIN4 = os.environ.get('PIN4')

FYERS_CLIENT_ID="GBJMHA44CH-100"
FYERS_SECRET_KEY="YW543H05CG"
WEBHOOK_PASSPHRASE="pass_check123"
FYERS_USERNAME="YP03333"
TOTP_KEY="your_totp_key_here"
PIN1="0"
PIN2="4"
PIN3="8"
PIN4="4"

In [5]:
def init_fyers_session():
    session = fyersModel.SessionModel(
        client_id=FYERS_CLIENT_ID,
        secret_key=FYERS_SECRET_KEY,
        redirect_uri=redirect_uri,
        response_type='code',
        grant_type='authorization_code'
    )
    return session
session=init_fyers_session()
response = session.generate_authcode()

In [7]:
response

'https://api-t1.fyers.in/api/v3/generate-authcode?client_id=GBJMHA44CH-100&redirect_uri=https%3A%2F%2Fwww.google.com%2F&response_type=code&state=None'

In [8]:
auth_code = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkubG9naW4uZnllcnMuaW4iLCJpYXQiOjE3NDA4MDcxNDIsImV4cCI6MTc0MDgzNzE0MiwibmJmIjoxNzQwODA2NTQyLCJhdWQiOiJbXCJ4OjBcIiwgXCJ4OjFcIiwgXCJ4OjJcIiwgXCJkOjFcIiwgXCJkOjJcIiwgXCJ4OjFcIiwgXCJ4OjBcIl0iLCJzdWIiOiJhdXRoX2NvZGUiLCJkaXNwbGF5X25hbWUiOiJZUDAzMzMzIiwib21zIjoiSzEiLCJoc21fa2V5IjoiZjZmMTdkMGRlN2ZjY2NiNDI4NTZlMjE5YWE0YTZlOWVlZjEwMTA2NWQxMjc2NTc4OGVlMzIxZTIiLCJpc0RkcGlFbmFibGVkIjoiTiIsImlzTXRmRW5hYmxlZCI6Ik4iLCJub25jZSI6IiIsImFwcF9pZCI6IkdCSk1IQTQ0Q0giLCJ1dWlkIjoiMGY3YmJjYWI3YTU4NDJiN2JlNTc4MWU3ZGQyZDQxNDIiLCJpcEFkZHIiOiIwLjAuMC4wIiwic2NvcGUiOiIifQ.Q6F1i7JiR9YBIMdjy1nKXN9FsR9HgQvroD3HiNwsW0Q"
session.set_token(auth_code)
response = session.generate_token()
access_token = response["access_token"]

In [9]:
response

{'s': 'ok',
 'code': 200,
 'message': '',
 'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3NDA4MDcxNzUsImV4cCI6MTc0MDg3NTQ1NSwibmJmIjoxNzQwODA3MTc1LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbndwd0hRQ21uS2xocnZCZXF6c0t1eGMteDdQZWtSMk1RUlpBZDZEY2tuc2Z2c2NkTjRDTmRZZHRRR05UWEwya1JELXdxWDAtVW9iczlPbENNTGlfZ0dVWHQwVlI1SmJQMTZtOUpfSnY4NWdqWktGWT0iLCJkaXNwbGF5X25hbWUiOiJQQVdBTiBSQVRIT1JFIiwib21zIjoiSzEiLCJoc21fa2V5IjoiZjZmMTdkMGRlN2ZjY2NiNDI4NTZlMjE5YWE0YTZlOWVlZjEwMTA2NWQxMjc2NTc4OGVlMzIxZTIiLCJpc0RkcGlFbmFibGVkIjoiTiIsImlzTXRmRW5hYmxlZCI6Ik4iLCJmeV9pZCI6IllQMDMzMzMiLCJhcHBUeXBlIjoxMDAsInBvYV9mbGFnIjoiTiJ9.JFQApp49MzgtqRO733WHxx44LowSITxHPcTffe7WvnA',
 'refresh_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3NDA4MDcxNzUsImV4cCI6MTc0MjA4NTA1NSwibmJmIjoxNzQwODA3MTc1LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6InJlZnJlc2hfdG9rZW4iLCJhdF9oYXNoIjoiZ0FBQUFBQm53cHdIUUNtbktsaHJ2QmVxenNLdXhjLXg3UGVrUjJNUVJaQWQ2RGNrbnNmdnNjZE40Q05kWWR0UUdOVFhMMmtSRC13cVgwLVVvYnM5T2xDTUxpX2dHVVh0MFZSNUpiUDE2bTlKX0p2ODVnalpLRlk9IiwiZGlzcGxheV9uYW1lIjoiUEFXQU4gUkFUSE9SRSIsIm9tcyI6IksxIiwiaHNtX2tleSI6ImY2ZjE3ZDBkZTdmY2NjYjQyODU2ZTIxOWFhNGE2ZTllZWYxMDEwNjVkMTI3NjU3ODhlZTMyMWUyIiwiaXNEZHBpRW5hYmxlZCI6Ik4iLCJpc010ZkVuYWJsZWQiOiJOIiwiZnlfaWQiOiJZUDAzMzMzIiwiYXBwVHlwZSI6MTAwLCJwb2FfZmxhZyI6Ik4ifQ.05gsdZ_yUCvMZj98Mh7Z9dWynybFbkeiPHnOz5zaCKg'}

In [10]:
def fyers_model():
    token = access_token
    fyers = fyersModel.FyersModel(client_id=FYERS_CLIENT_ID,
                                      token=token,
                                      is_async=False, 
                                      log_path=os.getcwd())
    return fyers

In [11]:
def fetch_data_from_fyers():
    fyers = fyers_model()
    end_date = (datetime.now()-timedelta(days=0)).strftime("%Y-%m-%d")
    start_date = (datetime.now() - timedelta(days=99)).strftime("%Y-%m-%d")
    last_updated_time = datetime.now()
    
    data = {
        "symbol": "MCX:CRUDEOIL25MARFUT",
        "resolution": 1,
        "date_format": "1",
        "range_from": start_date,
        "range_to": end_date,
        "cont_flag": "1"
    }

    response = fyers.history(data)
    if response['s'] == 'ok':
        df = pd.DataFrame(response['candles'], columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
        df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s', utc=True)  # First localize as UTC
        df['timestamp'] = df['timestamp'].dt.tz_convert('Asia/Kolkata')  # Then convert to IST
        df['timestamp'] = df['timestamp'].dt.tz_localize(None)
        df["last_updated_time"] = last_updated_time

        return df
    else:
        raise Exception(f"Failed to fetch data: {response}")

In [12]:
df=fetch_data_from_fyers()

In [13]:
df

,timestamp,open,high,low,close,volume,last_updated_time
0,2024-11-22 09:00:00,5955,5969,5955,5959,122,2025-03-01 11:03:00.347712
1,2024-11-22 09:01:00,5958,5958,5955,5956,187,2025-03-01 11:03:00.347712
2,2024-11-22 09:02:00,5956,5958,5956,5957,130,2025-03-01 11:03:00.347712
3,2024-11-22 09:03:00,5958,5960,5957,5958,130,2025-03-01 11:03:00.347712
4,2024-11-22 09:04:00,5956,5958,5954,5956,141,2025-03-01 11:03:00.347712
...,...,...,...,...,...,...,...
62230,2025-02-28 23:50:00,6121,6121,6118,6121,91,2025-03-01 11:03:00.347712
62231,2025-02-28 23:51:00,6121,6125,6121,6125,43,2025-03-01 11:03:00.347712
62232,2025-02-28 23:52:00,6125,6128,6125,6128,19,2025-03-01 11:03:00.347712
62233,2025-02-28 23:53:00,6128,6131,6126,6128,55,2025-03-01 11:03:00.347712
62234,2025-02-28 23:54:00,6128,6132,6116,6130,64,2025-03-01 11:03:00.347712

In [14]:
df.to_csv(r"analyzer_ready_data.csv", index=False)